<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title><%= yield(:title) %></title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<marquee scrollamount="30" behavior="alternate"><h1><%= yield(:title) %></h1></marquee>

<main>
<%= yield %>
</main>

<img src="/assets/fire.gif" alt="fire" class="foyah" />
</body>
</html>
